<div ng-controller="bookingCtrl" data-ng-init="initBookingDetails()">
    <form role="form" class="form-inline">
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-9">
                    <h2>Contact Details</h2>
                    <div class="form-group">
                        <input type="text"  placeholder="Name"  class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Enter email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Phone" class="form-control">
                    </div>
                </div>
                 <div class="col-md-3">
                     <br/><br/>
                    <h3>Total Fare: {{(booking.departRoute.RouteFare * booking.departRoute.totalSelectedSeats) + (booking.returnRoute !== undefined ? booking.returnRoute.RouteFare * booking.returnRoute.totalSelectedSeats : 0)}}</h3> 
                 </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-9">
                    <h2>Passenger Details (Depart)</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>ID Type</th>
                                    <th>ID Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="seat in booking.departRoute.seats | filter:{ status: true }">
                                    <td>
                                        <input type="text" placeholder="Enter Name" id="txtPassengerName" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Age" id="txtPassengerName"  size="2" class="form-control">
                                    </td>
                                    <td>
                                        <select class="form-control m-b" name="account">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control m-b" name="account">
                                            <option>NIRC</option>
                                            <option>Passport</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Enter Name" id="txtPassengerName" class="form-control">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <br/><br />
                    <div class="text-left">
                        <span class="text-navy"><strong>{{booking.departRoute.SourceCity}} - {{booking.departRoute.DestinationCity}}</strong></span>
                        <br />
                        {{booking.departRoute.RouteDate | date:'dd-MMM-yyyy'}} {{booking.departRoute.DepartureTime}}
                        <br />
                        Bus No. {{booking.departRoute.RegistrationNo}}
                        <br />
                        Fare: {{booking.departRoute.RouteFare}} x {{booking.departRoute.totalSelectedSeats}} = {{booking.departRoute.RouteFare * booking.departRoute.totalSelectedSeats}} Kyats
                        <br />
                        Seats No.
                        <div style="position:relative;display: inline" ng-repeat="s in booking.departRoute.seats | filter:{ status : true }">
                            {{s.SeatNo}},
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="{{booking.returnRoute !== undefined}}">
                <div class="col-md-9">
                    <h2>Passenger Details (Return)</h2>
                </div>
            </div>
            <div class="row" ng-show="{{booking.returnRoute !== undefined}}">
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>ID Type</th>
                                    <th>ID Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="seat in booking.returnRoute.seats | filter:{ status : true }">
                                    <td>
                                        <input type="text" placeholder="Enter Name" id="txtPassengerName" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Age" id="txtPassengerName" size="2" class="form-control">
                                    </td>
                                    <td>
                                        <select class="form-control m-b" name="account">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control m-b" name="account">
                                            <option>NIRC</option>
                                            <option>Passport</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Enter ID number" id="txtIDNumber" class="form-control">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>x
                <div class="col-md-3">
                    <br /><br />
                    <div class="text-left">
                        <span class="text-navy"><strong>{{booking.returnRoute.SourceCity}} - {{booking.returnRoute.DestinationCity}}</strong></span>
                        <br />
                        {{booking.returnRoute.RouteDate | date:'dd-MMM-yyyy'}} {{booking.returnRoute.DepartureTime}}
                        <br />
                        Bus No. {{booking.returnRoute.RegistrationNo}}
                        <br />
                        Fare: {{booking.returnRoute.RouteFare}} x {{booking.returnRoute.totalSelectedSeats}} = {{booking.returnRoute.RouteFare * booking.returnRoute.totalSelectedSeats}} Kyats
                        <br />
                        Seats No.
                        <div style="position:relative;display: inline" ng-repeat="s in booking.returnRoute.seats | filter:{ status : true }">
                         {{s.SeatNo}},
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
       
    </form>
            
    

</div>
