<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Booking Calendar</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                Booking
            </li>
            <li class="active">
                <strong>Calendar</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content" ng-controller="calendarCtrl" ng-init="initCalendar()">
    <div class="row animated fadeInDown">
        <div class="col-lg-3">
            <div class="ibox float-e-margins" ng-show="selectedEvent">
                <div class="ibox-title">
                    <h5>{{selectedEvent.title}}</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content" >
                        
         
                        <div class="ibox" ng-repeat="route in selectedEvent.routes">
                            <div class="ibox-content product-box">

                                <div class="product-desc">
                                    <a href="#" class="product-name">{{route.RouteDate | date:'dd-MMM-yyyy'}} {{route.DepartureTime}} </a>
                                    <small class="text-muted">Available seats</small>
                                    <a href="#" class="product-name">25</a>
                                   
                                </div>
                                <div class="product-desc">
                                    <div class="m-t text-righ">
                                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                        <a href="#" class="btn btn-xs btn-outline btn-primary">Book now </a>
                                    </div>
                                    <span class="product-price">
                                        {{route.RouteFare}} Kyats
                                    </span>
                                </div>
                            </div>
                        </div>
               
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Striped Table</h5>
                    <div ibox-tools></div>
                </div>

                <div class="ibox-content ui-calendar">
                    <div class="btn-toolbar">
                        <p class="lead">Bus Calendar</p>
                    </div>
                    <div ui-calendar="uiConfig.calendar" calendar="myCalendar1" class="calendar" ng-model="eventSources"></div>
                </div>
            </div>
        </div>
    </div>
</div>