<div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-road modal-icon"></i> Route Details</h4>
</div>
<div class="modal-body" ng-controller="routeEditCtrl"  style="overflow-y: visible;">
    <div >
        <form class="form-horizontal" role="form" name="routeEdit" novalidate ng-submit="save()" ng-init="initRouteEdit(this)" >
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'FROM' | translate }}</label>
                    <div class="col-sm-9">
                        <select class="form-control m-b" name="Source_CityId" ng-model="route.Source_CityId" ng-options="city.CityId as city.CityDesc for city in cities" required></select>
                        <div ng-show="route.Source_CityId.$invalid && routeEdit.submitted ">
                            <small class="text-danger" ng-show="routeEdit.Source_CityId.$error.required">Please select a from city.</small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'TO' | translate }}</label>
                    <div class="col-sm-9">
                        <select class="form-control m-b" name="Destination_CityId" ng-model="route.Destination_CityId" ng-options="city.CityId as city.CityDesc for city in cities" required></select>
                        <div ng-show="route.Destination_CityId.$invalid && routeEdit.submitted ">
                            <small class="text-danger" ng-show="routeEdit.Destination_CityId.$error.required">Please select a to city.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'BUSREGNO' | translate }}</label>
                    <div class="col-sm-9">
                        <select class="form-control m-b" name="BusId" ng-model="route.BusId" ng-options="bus.BusId as bus.RegistrationNo for bus in buses" required></select>
                    </div>
                    <div  ng-show="routeEdit.BusId.$invalid && routeEdit.submitted ">
                        <small class="col-sm-3"/><small class="col-sm-9 text-danger" ng-show="routeEdit.BusId.$error.required ">Please select a bus</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ 'ROUTEDATE' | translate }}</label>
                    <div class="col-sm-9">
                        <div class="input-group date">
                            <input name="RouteDate" id="RouteDate" type="datetime" class="form-control" date-time ng-model="route.RouteDate" view="date" min-view="date" auto-close="true" format="dd-MMM-yyyy" required>
                            <span class="input-group-btn">
                                <label class="btn btn-default form-control" for="RouteDate">
                                    <i class="fa fa-calendar"></i>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div ng-show=" routeEdit.PermitRenewDate.$invalid && routeEdit.submitted ">
                        <small class="col-sm-3" /><small class="col-sm-9 text-danger" ng-show="routeEdit.RouteDate.$error.required">Please input Route Date</small>
                    </div>
                </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'DEPARTURETIME' | translate }}</label>
                <div class="col-sm-9">
                    <input type="time" class="form-control" ng-model="route.DepartureDateTime">
                </div>
                <div ng-show=" routeEdit.DepartureDateTime.$invalid && routeEdit.submitted ">
                    <small class="col-sm-3" /><small class="col-sm-9 text-danger" ng-show="routeEdit.DepartureDateTime.$error.required">Please input Departure Time</small>
                </div>
            </div>
           
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'ARRIVALTIME' | translate }}</label>
                <div class="col-sm-9">
                        <input type="time" class="form-control" ng-model="route.ArrivalDateTime">
                </div>
                <div ng-show=" routeEdit.ArrivalDateTime.$invalid && routeEdit.submitted">
                    <small class="col-sm-3" /><small class="col-sm-9 text-danger" ng-show="routeEdit.ArrivalDateTime.$error.required">Please input Arrival Time</small>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'ROUTEFARE' | translate }}</label>
                <div class="col-sm-9"><input type="text" class="form-control" name="RouteFare" ng-model="route.RouteFare" required></div>
                <div ng-show="routeEdit.RouteFare.$invalid && routeEdit.submitted ">
                    <small class="col-sm-3" /><small class="col-sm-9 text-danger" ng-show="routeEdit.RouteFare.$error.required">Please input a fare</small>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'RECURSIVE' | translate }}</label>
                <div class="col-sm-9">
                    <div class="checkbox checkbox-success">
                        <input type="checkbox" ng-model="recursive">
                        <label>
                            <select ng-show="recursive" class="form-control m-b" ng-model="recursiveType" >
                                <option selected="selected" value="Daily">Daily</option>
                                <option value="Weekly">Weekly</option>
                            </select>
                        </label>
                    </div>
                    
                    <div ng-show="recursiveType == 'Weekly'">
                        <div class="checkbox checkbox-success">
                            <input type="checkbox" ng-model="monday">
                            <label>Monday</label>
                        </div>
                        <div class="checkbox checkbox-success">
                            <input type="checkbox" ng-model="tuesday">
                            <label>Tuesday</label>
                        </div>
                        <div class="checkbox checkbox-success">
                            <input type="checkbox" ng-model="wednesday">
                            <label>Wednesday</label>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="hr-line-dashed" />
            <div class="form-group">
                <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

</form>
       
</div>
</div>
