<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Route list</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Routes</a>
            </li>
            <li class="active">
                <strong>Route list</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">


    <div class="ibox-content m-b-sm border-bottom" style="display:none">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="product_name">Product Name</label>
                    <input type="text" id="product_name" name="product_name" value="" placeholder="Product Name" class="form-control">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label" for="price">Price</label>
                    <input type="text" id="price" name="price" value="" placeholder="Price" class="form-control">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label" for="quantity">Quantity</label>
                    <input type="text" id="quantity" name="quantity" value="" placeholder="Quantity" class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="status">Status</label>
                    <select name="status" id="status" class="form-control">
                        <option value="1" selected>Enabled</option>
                        <option value="0">Disabled</option>
                    </select>
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content" ng-controller="routeListCtrl" data-ng-init="initRouteList()">
                    <button class="btn btn-primary " type="button" ng-click="open()"><i class="fa fa-plus-circle"></i>&nbsp;Add</button>
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15" id="tblroutelist">
                        <thead>
                            <tr>

                                <th>{{ 'FROM' | translate }}</th>
                                <th>{{ 'TO' | translate }}</th>
                                <th>{{ 'BUSREGNO' | translate }}</th>
                                <th>{{ 'ROUTEDATE' | translate }}</th>
                                <th>{{ 'DEPARTURETIME' | translate }}</th>
                                <th>{{ 'NUMBEROFSEAT' | translate }}</th>
                                <th>{{ 'ROUTEFARE' | translate }}</th>
                                <th class="text-right" data-sort-ignore="true">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="route in routes" my-directive>

                                <td>
                                    {{route.SourceCity}}
                                </td>
                                <td>
                                    {{route.DestinationCity}}
                                </td>
                                <td>
                                    {{route.RegistrationNo}}
                                </td>
                                <td>
                                    {{route.RouteDate | date:'dd-MMM-yyyy'}}
                                </td>
                                <td>
                                    {{route.DepartureTime}}
                                </td>
                                <td>
                                    <button class="btn btn-w-m btn-xs btn-outline btn-info" ng-click="openSeat(route)">0</button>
                                </td>
                                <td>
                                    {{route.RouteFare}}
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button class="btn-white btn btn-xs" ng-click="openEdit(route)"><i class="fa fa-folder"></i>View</button>
                                        <button class="btn-white btn btn-xs" ng-click="openEdit(route)"><i class="fa fa-pencil"></i>Edit</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>


</div>