<div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-bus modal-icon"></i> Bus Details</h4>
</div>
<div class="modal-body">
            <div class="ibox-content">
                <form method="get" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Brand</label>

                        <div class="col-sm-9"><input type="text" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Model</label>

                        <div class="col-sm-9"><input type="text" class="form-control"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Reg. No</label>

                        <div class="col-sm-9"><input type="text" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Permit No</label>

                        <div class="col-sm-9"><input type="text" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Permit Exp. Date</label>

                        <div class="col-sm-9">
                            <div class="input-group date">
                                <span class="input-group-btn">
                                    <label class="btn btn-default form-control" for="returnDate">
                                        <i class="fa fa-calendar"></i>
                                    </label>
                                </span>
                                <input id="expdate" type="datetime" class="form-control" date-time ng-model="sampleDate" view="date" auto-close="true">
                                
                            </div>
                         </div>
                    </div>
                   
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Facilties
                        </label>

                        <div class="col-sm-9">
                            <div>
                                <label>
                                    <input icheck type="checkbox" ng-model="main.check2">
                                    Video
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input icheck type="checkbox" ng-model="main.checkThree">
                                    Audio
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input icheck type="checkbox" ng-model="main.checkThree">
                                    Games
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input icheck type="checkbox" ng-model="main.checkThree">
                                    Toilet
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Status</label>

                        <div class="col-sm-9">
                            <div class="input-group m-b">
                                <div class="input-group-btn" dropdown>
                                    <button tabindex="-1" class="btn btn-white" type="button">Select</button>
                                    <button class="btn btn-white dropdown-toggle" dropdown-toggle type="button">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="">Maintenance</a></li>
                                        <li><a href="">Active</a></li>
                                        <li><a href="">Inactive</a></li>
                                        <li><a href="">Servicing</a></li>
                                        <li class="divider"></li>
                                        <li><a href="">NA</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="ok()">Save</button>
                    </div>
                </form>
    </div>
</div>
