<div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-bus modal-icon"></i> Bus Details</h4>
</div>
<div class="modal-body" ng-controller="busListCtrl" data-ng-init="initBusEdit()">
    <div class="ibox-content">
        <form method="get" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Brand</label>

                <div class="col-sm-9">
                    <select class="form-control m-b" name="brand" ng-model="bus.Brand" ng-options="brand as brand.Value for brand in brands">
                    </select>
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Model</label>
                <div class="col-sm-9"><input type="text" class="form-control" ng-model="bus.Model"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Reg. No</label>
                <div class="col-sm-9"><input type="text" class="form-control" ng-model="bus.RegistrationNo"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Permit No</label>
                <div class="col-sm-9"><input type="text" class="form-control" ng-model="bus.PermitNumber"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Permit Renew Date</label>
                <div class="col-sm-9">
                    <div class="input-group date">
                        <input id="expdate" type="datetime" class="form-control" date-time ng-model="bus.PermitRenewDate" view="date" auto-close="true">
                        <span class="input-group-btn">
                            <label class="btn btn-default form-control" for="expdate">
                                <i class="fa fa-calendar"></i>
                            </label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">BusType</label>

                <div class="col-sm-9">
                    <select class="form-control m-b" name="bustype" ng-model="bus.BusType" ng-options="bustype as bustype.Value for bustype in bustypes"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Insurance Policy No.</label>
                <div class="col-sm-9"><input type="text" class="form-control" ng-model="bus.InsurancePolicyNumber"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Insurance Company</label>
                <div class="col-sm-9"><input type="text" class="form-control" ng-model="bus.InsuranceCompany"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Insurance Valid To</label>
                <div class="col-sm-9">
                    <div class="input-group date">
                        <input id="expdate" type="datetime" class="form-control" date-time ng-model="bus.InsuranceValidFrom" view="date" auto-close="true">
                        <span class="input-group-btn">
                            <label class="btn btn-default form-control" for="expdate">
                                <i class="fa fa-calendar"></i>
                            </label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Insurance Valid To</label>
                <div class="col-sm-9">
                    <div class="input-group date">
                        <input id="expdate" type="datetime" class="form-control" date-time ng-model="bus.InsuranceValidTo" view="date" auto-close="true">
                        <span class="input-group-btn">
                            <label class="btn btn-default form-control" for="expdate">
                                <i class="fa fa-calendar"></i>
                            </label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Vechicle Phone</label>
                <div class="col-sm-9"><input type="text" class="form-control" ng-model="bus.VechiclePhoneNo"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Driver Name</label>
                <div class="col-sm-9"><input type="text" class="form-control" ng-model="bus.DriverName"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9"><textarea class="form-control" ng-model="bus.Description"/></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Facilties
                </label>

                <div class="col-sm-9">
                    <div>
                        <label>
                            <input icheck type="checkbox" ng-model="main.video">
                            Video
                        </label>
                    </div>
                    <div>
                        <label>
                            <input icheck type="checkbox" ng-model="main.audio">
                            Audio
                        </label>
                    </div>
                    <div>
                        <label>
                            <input icheck type="checkbox" ng-model="main.games">
                            Games
                        </label>
                    </div>
                    <div>
                        <label>
                            <input icheck type="checkbox" ng-model="main.toilet">
                            Toilet
                        </label>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Status</label>

                <div class="col-sm-9">
                    <select class="form-control m-b" name="account" ng-model="optStatus">
                        <option value="Maintenance">Maintenance</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                        <option value="Servicing">Servicing</option>
                    </select>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
            </div>
        </form>
    </div>
</div>
