<div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-bus modal-icon"></i> Bus Details</h4>
</div>
<div class="modal-body" ng-controller="busListCtrl" data-ng-init="initBusEdit()">
    <div class="ibox-content">
        <form method="get" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Brand</label>

                <div class="col-sm-9">
                    <select class="form-control m-b" name="brand" ng-model="brand">
                        <option  ng-repeat="brand in brands" value="{{brand.KeyCode}}">{{brand.Value}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Model</label>

                <div class="col-sm-9"><input type="text" class="form-control" ng-model="txtModel"></div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Reg. No</label>

                <div class="col-sm-9"><input type="text" class="form-control" ng-model="txtRegNo"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Permit No</label>

                <div class="col-sm-9"><input type="text" class="form-control" ng-model="txtPermitNo"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Permit Exp. Date</label>

                <div class="col-sm-9">
                    <div class="input-group date">
                        <input id="expdate" type="datetime" class="form-control" date-time ng-model="expDate" view="date" auto-close="true">
                        <span class="input-group-btn">
                            <label class="btn btn-default form-control" for="expdate">
                                <i class="fa fa-calendar"></i>
                            </label>
                        </span>
                    </div>
                </div>
            </div>
            {{expDate}}
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Facilties
                </label>

                <div class="col-sm-9">
                    <div>
                        <label>
                            <input icheck type="checkbox" ng-model="main.video">
                            Video
                        </label>
                    </div>
                    <div>
                        <label>
                            <input icheck type="checkbox" ng-model="main.audio">
                            Audio
                        </label>
                    </div>
                    <div>
                        <label>
                            <input icheck type="checkbox" ng-model="main.games">
                            Games
                        </label>
                    </div>
                    <div>
                        <label>
                            <input icheck type="checkbox" ng-model="main.toilet">
                            Toilet
                        </label>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Status</label>

                <div class="col-sm-9">
                    <select class="form-control m-b" name="account" ng-model="optStatus">
                        <option value="Maintenance">Maintenance</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                        <option value="Servicing">Servicing</option>
                    </select>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
                <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
            </div>
        </form>
    </div>
</div>
