<div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-bus modal-icon"></i> Bus Seating Layout</h4>
</div>
<div class="modal-body" ng-controller="busSeatController">
    <div>
       
        <form class="form-horizontal" role="form" name="busSeat" novalidate ng-submit="save()" ng-init="initBusSeat(this)">
            <div class="content">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Row</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="noOfRow" ng-model="seat.noOfRow">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Column</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="noOfColumn" ng-model="seat.noOfColumn">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <button type="button" class="btn btn-white" ng-click="generateClicked()">Generate</button>
                        </div>
                    </div>
                </div>

                <table class="seatLayout">

                    <tr>
                        <td class="padding-bottom"></td>
                        <td class="padding-bottom" ng-repeat="col in cols track by $index" ng-bind="col"></td>
                    </tr>
                    <tr ng-repeat="row in rows">
                        <td class="seat" ng-repeat="s in row" ng-click="seatClicked(s)">
                            <img ng-show="s.Space" src="img/seat_space.png">
                            <img ng-show="s.Bookable&&!s.Space" src="img/seat_available.png">
                            <img ng-show="!s.Bookable&&!s.Space" src="img/seat_reserved.png">
                            
                        </td>
                    </tr>
                </table>

                <div class="legend">
                    <img src="img/seat_available.png">  Available
                    <img src="img/seat_reserved.png" class="padding-left">  Unavailable
                </div>

               
                
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15" id="tblSeatList">
                        <thead>
                            <tr>
                                <th data-sort-ignore="true"><div class="text-center">Seat No.</div></th>
                                <th data-sort-ignore="true"><div class="text-center">Bookable</div></th>
                                <th data-sort-ignore="true"><div class="text-center">Space</div></th>

                            </tr>
                        </thead>
                        <tbody ng-repeat="row in rows">
                            <tr ng-repeat="s in row">
                                <td  class="col-xs-2">
                                   <input type="text" class="form-control" name="seatno" ng-model="s.SeatNo"></td>
                                <td><input icheck type="checkbox" class="form-control" name="bookable" ng-model="s.Bookable" required></td>
                                <td><input icheck type="checkbox" class="form-control" name="space" ng-model="s.Space" required></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>

    </div>
</div>
